.filterbar {
  display: flex;
  position: fixed;
  top: 80px;
  left: 200px;
  right: 0;
  background-color: transparent;
  padding: 8px 12px;
  overflow-x: auto;
  gap: 8px;
  z-index: 10;

  /* Hide scrollbar – Firefox */
  scrollbar-width: none;

  /* Hide scrollbar – WebKit */
}

.filterbar::-webkit-scrollbar {
  display: none;
}

.filterbar > button {
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  height: 30px;
  padding: 2px 12px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterbar > button:hover {
  background-color: #444;
}
