.filterbar {
  grid-area: ftb;
  width: 100%;
  padding: 20px;
  background: transparent;
  color: #fff;
  
  display: flex;
  gap: 8px;
  overflow-x: auto; 

  white-space: nowrap;

  scrollbar-width: none;
}

.filterbar::-webkit-scrollbar {
  display: none;
}

.filterbtn {
  flex: 0 0 auto;
  background-color: #333;
  color: #fff;
  height: 30px;
  padding: 2px 12px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterbtn:hover {
  background-color: #444;
}
